.box1{
background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(20,0,255,1) 100%) !important;
height: 65px;
}

.box2{
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(20,0,255,1) 100%) !important; 
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: #fdfdfd;
}

.textos{
   color: rgb(245, 8, 8);
}